html{
  scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    height:80px;
    background-color: #0A0A12;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.logo{
    height:70px;
    width:250px;
    display: flex;
    
}

.logo-img{
    background-image: url(assets/photos/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height:70px ;
    width:110px;
    transition: all;
    transition-duration:0.4s ;
    
}

.logo-font{
    font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #CCCCCC;
  display: flex;
  align-items: center;
}
.logo-font:hover{
    color:#FF1744;

}
.logo-font1{
    font-size: 20px;
}
.logo-font2{
    font-size: 10px;
}
.tags{
    display: flex;
    width:70%;

}
a{
  text-decoration: none;
  color: #CCCCCC;
}
a:hover{
    color:#FF1744;
  
}
.tags p{
    margin-left: 80px;
}

.tag1{
    margin-left:30px;
    color: #CCCCCC;
    font-size: 20px;
    transition: all;
    transition-duration: 0.4s;
    
}
.tag1:hover{
    font-size: 26px;
    color:#FF1744;
    cursor: pointer;
}
.available{
    color:#CCCCCC;
    transition: all;
    transition-duration: 0.4s;
}
.gamepad1{
    display: flex;
    justify-content:center;
}
.available:hover{
    color: #FF1744;
    font-size: 20px;

}
.First {
      position: relative;
      top: 60px;
      height: 100vh; 
      overflow: hidden;
    }
.background-video {
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; 
      z-index: -1; 
      filter: brightness(80%);
      
    }

  .character-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;
    gap: 0;
  }

  
  .character-box {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: -35px; 
    flex-shrink: 0;
  }

  .character-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    opacity: 0.4;
    
  }

  
  .character-box:hover {
    transform: scale(1.2);
   
    z-index: 20;
  }

  .character-box:hover img {
    transform: scale(1.1);
    opacity: 1;
    
  }

  
  .small  { width: 70px;  height: 220px;  z-index: 1; }
  .medium { width: 85px;  height: 240px;  z-index: 2; }
  .large  { width: 100px;  height: 260px;  z-index: 3; }
  .larger { width: 115px;  height: 290px;  z-index: 4; }
  .xlarge { width: 130px; height: 310px;  z-index: 5; }
  .main   { width: 155px; height: 340px;  z-index: 6; }
  .main:hover{
    width: 255px;
    height:440;
  }
  
.center-image {
  position: absolute;      
  top: 30%;                
  left: 50%;               
  transform: translate(-50%, -50%); 
  width: 400px;            
  height: auto;            
  z-index: 5; 
  opacity: 0.6;             
}
.agents{
     background-color: #C62828; 
      height: 500px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      
      
}
.maps{
  background-color: #0A0A12; 
      height: 500px;
      width: 100%;
     
      display: flex;
      justify-content: center;    
        align-items: center;
      
}
.weapons{
  background-color: #C62828; 
      height: 500px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
     

}
#footer-section{background-color: #0A0A12; 
      height: 100px;
      width: 100%;
     
      display: flex;
      justify-content: center;     
       align-items: center;
      
}
.social{
  width:50%;
  height:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #CCCCCC;

}
.copyright{
  margin: 10px;
  font-size: 30px;
  transition: all;
  transition-duration: 0.3s;
}
.copyright:hover{
  font-size: 40px;
}
.copyright1:hover{
  color:#C62828 ;
}


.agents-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0a0a0f;
  overflow: hidden;
 
}
.agents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1400px;
  border-radius: 15px;
  
}
.agents-video {
 position: relative;
  width: 580px;
  height: 320px;

  overflow: hidden;      
  border-radius: 20px;   
  margin-right: 70px;
  

}

.agent-video {
   position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  display: block;

  object-fit: contain;   
  background: black; 
  
}



.agents-text {
  max-width: 600px;
  margin-left: 4rem;
  text-wrap: wrap;
  padding-right: 70px;
}

.agents-text h1 {
  font-size: 2.8rem;

  color: goldenrod; 
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.agents-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #d6d6d6;
  margin-bottom: 1rem;
}

.maps-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
   background: #1B1B1F;    
  overflow: hidden;
  
}


.maps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1400px;
  flex-direction: row-reverse; 
  border-radius: 15px;
}

.maps-video {
  position: relative;
  width: 580px;
  height: 320px;

  overflow: hidden;      
  border-radius: 20px;   
  margin-right: 70px;
  box-sizing: border-box;

  
}

.map-video {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  display: block;

  object-fit: contain;   
  background: black;     
}




.maps-text {
  max-width: 600px;
  margin-right: 4rem; 
  text-wrap: wrap;
  margin-left: 70px;
}

.maps-text h1 {
  font-size: 2.8rem;
  color: #2e86de; 
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.maps-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #d6d6d6;
  margin-bottom: 1rem;
}



.weapons-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0f1016; 
  overflow: hidden;
  color: #fff;
  font-family: 'Valorant', sans-serif;
}

.weapons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1400px;
}

.weapons-video {
  position: relative;
  width: 580px;
  height: 320px;

  overflow: hidden;       
  border-radius: 20px;    
  margin-left: 70px;
  box-sizing: border-box;

 
}
.weapon-video {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  display: block;

  object-fit: contain;    
  background: black;      
}


.weapons-text {
  max-width: 600px;
  margin-left: 4rem;
  text-wrap: wrap;
  margin-right: 60px;
}

.weapons-text h1 {
  font-size: 2.8rem;
  color: goldenrod; 
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.weapons-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #d6d6d6;
  margin-bottom: 1rem;
}


/* agents.html */
.agents-img {
  position: relative;
  width: 480px;
  height: 420px;
  overflow: hidden;
  border-radius: 50px;
  margin-left: 70px;
  box-sizing: border-box;
  background: #000;
}

.agent-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  
  display: block;
}
.agents-section1{
position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
   background: #0A0F1F;    
  overflow: hidden;
  color: #fff;
  font-family: 'Valorant', sans-serif;
}

.agents-text1{
   max-width: 600px;
  margin-left: 4rem;
  text-wrap: wrap;
  margin-right: 60px;

}
.agents-text1 h1{
  font-size: 2.8rem;
  color: #30CFFF; 
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;

}
.agents-text1 p{
  font-size: 1.1rem;
  line-height: 1.6;
  color: #E5E7EB;
  margin-bottom: 1rem;
}
